
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html {
scroll-behavior: smooth;
}

.container{
  max-width: max(1180px, 52%);
  padding: 0 4%;
  margin: 0 auto;
}

button{
  padding: 1.3rem 1.5rem;
  width: 20rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  margin: 1rem 0rem;
}

/*========== HOME ==========*/

#home{
  background-color: aqua;
}

#home .container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#home .content{
  display: flex;
  flex-direction: column;
}


