@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=JetBrains+Mono&family=Nunito:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: white;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

a{
  cursor: pointer;
}

.container{
  max-width: max(1180px, 52%);
  padding: 0 4%;
  margin: 0 auto;
}

button.square{
  width: 28.8rem;
  height: 6rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
  font-weight: bold;
  color: white;
  background-color: #9A290C;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  border: 0.5rem solid #9A290C;
}

button.cicle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
  height: 6rem;
  text-transform: uppercase;
  border-radius: 5rem;
  font-weight: bold;
  color: #677415;
  background-color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  border: 0.5rem solid #677415;
  padding: 2rem;
  opacity: 0.95;
}


h1{
  font-family: 'Dela Gothic One', cursive;
  font-size: 4.8rem;
  color: white;
  margin-bottom: 2.4rem;
  font-weight: 100;
}

h2{
  font-family: 'Dela Gothic One', cursive;
  font-size: 3.6rem;
  color: black;
  margin-bottom: 2.4rem;
  font-weight: 100;
}

h3{
  font-family: 'Dela Gothic One', cursive;
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  font-weight: 100;
}

h4{
  font-size: 1.8rem;
  color: white;
  font-weight: 400; 
  margin-bottom: 2.4rem;
}

html, body {
  overflow: hidden;
 }

 .invisible{
  display: none;
  opacity: 0;
 }

 .visible{
  display: block;
  opacity: 1;
 }

/*========== HOME ==========*/

.imagem1{
  background-image: url('img/imagem1.png');
  transition: all 600ms ease-out;
}

.imagem2{
  background-image: url('img/imagem2.png');
  transition: all 600ms ease-out;
}

.imagem2 h1, .imagem2 h4, .imagem2 #about-us{
  opacity: 0.5;
}

#home{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home .container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#home .content{
  display: flex;
  flex-direction: column;
}

#home h4{
  max-width:68rem;
}

#start_now{
  background: linear-gradient(
    to right,
    #000 50%,
    #9A290C 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 400ms ease-out;
}

#start_now:hover {
  background-color: #000;
  background-position: left bottom;
}

#about-us{
  background-color: rgba(255, 255, 255, 0);
  color: #9A290C;
}


/*========== FASES ==========*/

#fases{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #030404;
  position: relative;
  transition: all 300ms ease-out;
}

#fases .container{
  position: relative;
}

#fases h2{
  color: #fff;
}

#fases a{
  position: absolute;
  top: -5rem;
  right: 0;
  cursor: pointer
}

#fases.closed{
  top: 0vh;
}

#fases.open{
  top: -100vh;
}

#fases .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fases h4{
  color: #646161;
  font-size: 1.8rem;
}

#fases .col-a{
  max-width: 35%;
}

#fases .col-b{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-height: 70vh;
  overflow: auto;
}

.cards{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20.3rem;
  width: 57rem;
  border-radius: 1.5rem;
  padding: 4rem;
}

#fases .col-b::-webkit-scrollbar {
  width: 0px;
}

.cards h3{
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
}

#card1{
  background-image: url('img/card1.png');
}

#card2{
  background-image: url('img/card2.png');
}

#card2 button.cicle{
  color: #99710A;
  border-color: #99710A;
}

.unblock button.cicle:hover{
  opacity:1;
  transition: all 600ms;
  transform: scale(1.05);
}

#card3{
  background-image: url('img/card3.png');
}

#card3 button.cicle{
  color: #4879A7;
  border-color: #4879A7;
}

.blocked{
  filter: saturate(0);
}

.blocked div{
  filter: blur(3px);
}

.blocked button{
  cursor: default;
}

.cards img{
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 36%
}

.unblock img{
  display: none;
}

.col-a img{
  margin-top: 2.4rem;
}


/*///////////////*/

#jogo{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: url('img/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.editor_code{
  background-color: #282C34;
  width: 50rem;
  display: flex;
  align-items: flex-start;
  padding: 1.2rem 0 1.8rem;
  border-radius: 0.5rem;
}

.editor_code_numbers{
  margin-top: 1.1rem;
  padding: 0 2rem;
  text-align: right;
}

.code_number{
  color: #707a84;
  line-height: 1.5;
  font-size: 2.4rem;
  font-family: 'JetBrains Mono', monospace;
}

.code{
  margin-top: 1.1rem;
  margin-right: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.code_code{
  line-height: 1.5;
  font-family: 'JetBrains Mono', monospace;
}

.code_code span{
  font-family: 'JetBrains Mono', monospace;
}

.code button{
  align-self: flex-end;
  align-content: end;
  margin: 0;
  width: 19rem;
}

code{
  font-size: 2.4rem;
  color: #fff;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
}

.code input{
  line-height: 1.3;
  background-color: #646161;
  color: #E0E0E0;
  font-family: 'JetBrains Mono', monospace;
  border: none;
  font-size: 2.4rem;
}

.tab{
  margin-left: 3rem;
}

.code_blue{
  color: #647AEF;
}

.code_green{
  color: #61D357;
}

#jogo .container{
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 8rem;
}

#jogo .col-a{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 2.4rem;
}

#jogo h3{
  margin: 0;
}

#jogo a{
  padding: 0;
  margin: 0;
}

#jogo .level{
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

#jogo .level .block{
  pointer-events: none;
  opacity: .5;
}

#jogo .level a{
  height: 1.6rem;
}


#jogo .level_text{
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 1.8rem;
}

#jogo .level_text a{
  font-size: 2.4rem;
  cursor: pointer;
  text-decoration: underline;
}

#jogo .col-b{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#jogo .col-b .campo{
  height: 50rem;
  width: 50rem;
  background-image: url("img/Cenario2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 0.5rem;
}

#jogo .col-b .campo .fixo{
  position: fixed;
  height: 50rem;
  width: 50rem;
}

#jogo .col-b .campo .fixo img{
  width: 15rem;
  margin: 2rem;
  filter: drop-shadow(-5px 5px 5px #222);
}

#jogo .col-b .campo .movel{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#jogo .col-b .campo .movel img{
  height: 15rem;
  margin: 2rem; 
  filter: drop-shadow(-5px 5px 5px #222);
}

#campo_nivel1{
  justify-content: flex-end;
}


/*///////////////sobre*/

#sobre{
  animation: fade-in .5s;
}

#sobre .container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

#sobre .content{
  background-color: #FFFCF8;
  padding: 5rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 4.5rem;
  width: 112rem;
  justify-content: center;
  position: relative;
}

#sobre .content p{
  color: #646161;
  line-height: 1.6rem;
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
}

#sobre .content a{
  position: absolute;
  top: 4rem;
  right: 4rem;
}

#sobre h2{
  font-size: 2.4rem;
  color: #000;
  margin-bottom: 3.5rem;
}

#desenvolvedores{
  display: flex;
  gap: 2.4rem;
  border-right: solid .3rem #646161;
  padding: 3rem 4.5rem 3rem 0;
}

.membro{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  max-width: 14rem;
}

.foto{
  width: 10rem;
  height: 10rem;
  background-color: #D9D9D9;
  border-radius: 50%;
}

#sobre .content .nome{
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #000;
  font-weight: 600;
}

.descricao{
  text-align: center;
}

#sobre .col-b{
  max-width: 40rem;
}

#pre_pantanal{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: url('img/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 500ms ease-out;
}

#pre_pantanal.closed{
  right: -100%;
}

#pre_pantanal.open{
  right: 0;
}

#pre_pantanal .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2.4rem;
}

#pre_pantanal h2{
  color: #fff;
  text-transform: uppercase;
}

#pre_pantanal h3{
  color: #677415;
  font-family: nunito;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

#pre_pantanal p{
  line-height: 2.5rem;
  font-size: 1.8rem;
  max-width: 80rem;;
}

#pre_pantanal button{
  margin-top: 8rem;
}

#pre_pantanal a{
  align-self: flex-start;
}


/*load*/


#loading .container{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #FFFCF8;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 100%;
}

#loading p{
  color: #000;
  font-size: 1.8rem;
}


/*///instruções//*/

.instrucoes{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(.5rem);
  z-index: 3;
  animation: fade-in .5s;
}

.instrucoes .content{
  background-color: #FFFCF8;
  padding: 5rem;
  border-radius: 0.5rem;
  width: 100rem;
  height: 45rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.instrucoes .content a{
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.instrucoes .titulo{
  display: flex;
}

.instrucoes .titulo .linha{
  border-left: solid 0.5rem #000;
}

#hist1, #expl1{
  width: 100%;
  height: 100%;
}

.instrucoes .historia{
  width: 100%;
  height: 100%;
  display: flex;
}

.instrucoes .historia p{
  color: #646161;
  font-size: 1.8rem;
}

.instrucoes .historia b{
  color: #646161;
}

#jogo .instrucoes .historia .col-b{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instrucoes img{
  width: 20rem;
}

.instrucoes .historia button{
  align-self: flex-end;
}

.instrucoes button{
  margin: 0;
}

.instrucoes .titulo h2{
  font-size: 2.4rem;
  font-family: nunito;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 3rem;
  margin-bottom: 0;
  opacity: 0.5;
}

.instrucoes .titulo h2.active{
  opacity: 1;
  border-bottom: solid .5rem #9A290C;
}

.instrucoes .explicacao{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/*sucess*/
#sucess .cont{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 3;
  animation: fade-in .5s;
}

#sucess .content{
  background-color: #FFFCF8;
  padding: 5rem;
  border-radius: 0.5rem;
  width: 35rem;
  height: 35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sucess .content h3{
  font-family: nunito;
  color: #000;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}

#sucess .content button{
  margin: 0;
  width: 20rem;
}

#sucess .content a{
  position: absolute;
  top: 4rem;
  right: 4rem;
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}